<configuration>
    <property name="LOG_PATH" value="/opt/repositories/deploy_practice/logs"/>
    <property name="LOG_FILE_NAME" value="application"/>
    <property name ="LOG_PATTERN" value="%d{yyyy-MM-dd HH:mm:ss} [%thread] [%X{requestId}] %-5level %logger{36} - %msg%n"/>

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <!-- 로그 패턴 설정 -->
            <!-- %X{requestId}는 MDC에 저장된 requestId 값을 의미함 -->
            <pattern>${LOG_PATTERN}</pattern>
        </encoder>
    </appender>

    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <!-- 로그 파일 경로와 이름 설정 -->
        <file>${LOG_PATH}/application.log</file>

        <!-- 일별 로그 파일 생성 설정 -->
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!-- 파일 이름 패턴, 날짜 형식을 포함 -->
            <fileNamePattern>${LOG_PATH}/application-%d{yyyy-MM-dd}.log.gz</fileNamePattern>
            <!-- 보관 기간 설정 (필요에 따라 조정) -->
            <maxHistory>5</maxHistory>
            <!-- 압축 설정 -->
            <maxFileSize>10MB</maxFileSize>
        </rollingPolicy>

        <encoder>
            <pattern>${LOG_PATTERN}</pattern>
        </encoder>
    </appender>

    <!-- 루트 로거 설정 -->
    <root level="info">
        <appender-ref ref="CONSOLE" />
        <appender-ref ref="FILE" />
    </root>
</configuration>